* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  padding: 26px 70px;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  color: white;
}
.header span {
  color: #D4A373;
}

.header__nav {
  display: flex;
  gap: 23px;
}
.header__nav a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  transition: color 0.3s ease;
}
.header__nav a:hover {
  color: #D4A373;
}

.header__logo {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  transition: transform 0.3s ease;
}
.header__logo:hover {
  transform: scale(1.05);
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://s3-alpha-sig.figma.com/img/7eed/e288/ec725dce13bc784b442408dbf92332f7?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=WCGp3CDieR0Vfd4VYVwUMk4cNMUUv~ZrUV~hBonDUCc1QXgvg4IOtitvZ4HF6dH~uUYDjvAaAt3WfSF7SoX9YzjW-5K3wWftvuVn8zNH9GP-xgqIzLLRsFc~rYDIGUv7ZVP3zK-RcyKDoXYj3Yh5KydOuSyLJm-m1mc5FLS-8Liyf8Jp5xJuu-k07wgm92CYgKEQoCDE9ADiohK9JpNDckGjzpsemj4Bfw6lJ2vSSQH8uCPv-bEQxyL6njtrNpp6KhFDk8gLlU6PoNr6MMqaCCXkccFsK3~7OeBw3la~DGO8n0VkGqlmtiJTizeuNykpqbhoEUYdP5oNXPNJ9ieU4w__");
  background-size: cover;
  gap: 32px;
  text-wrap: balance;
}

.hero__title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.hero__separator {
  width: 100px;
  height: 1px;
  background-color: white;
}

.hero__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  max-width: 30vw;
}

.hero__button {
  border: 1px solid #D4A373;
  background: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
  padding: 8px 100px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hero__button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 62px;
  justify-content: center;
  align-items: center;
  color: #111111;
  padding: 70px;
}

.articles__title {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 34.13px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.articles__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.articles__nav {
  display: flex;
  gap: 21px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 24px;
}
.articles__nav li.active {
  color: #D4A373;
}
.articles__nav li {
  cursor: pointer;
  transition: color 0.3s ease;
}
.articles__nav li:hover {
  color: #D4A373;
}

.articles__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.articles__card {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.articles__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.articles__card img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles__card__content {
  padding: 20px;
  color: #111111;
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Open Sans", sans-serif;
}

.articles__card__content__date {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.articles__card__content__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.articles__card__content__body {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.sign-in {
  background-color: #EFEFEF;
  padding: 68px 215px 83px 215px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.sign-in__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 38.13px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.sign-in__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  width: 100%;
}
.sign-in__form div {
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 100%;
}
.sign-in__form label {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.sign-in__form input,
.sign-in__form textarea {
  padding: 8px 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  border: 1px solid #495057;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.sign-in__form input:hover,
.sign-in__form textarea:hover {
  border-color: #D4A373;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.sign-in__form input:focus,
.sign-in__form textarea:focus {
  border-color: #D4A373;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
}
.sign-in__form button {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
  background-color: #D4A373;
  padding: 8px 134px;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.sign-in__form button:hover {
  background-color: #c8894c;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.sign-in__form__label-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sign-in__form__label-textarea {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}
.sign-in__form__label-textarea textarea {
  height: 100%;
  padding: 8px 14px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  border: 1px solid #495057;
}

.sign-in__form__label-inline {
  display: flex;
  align-items: center;
  gap: 14px;
  flex: 0 1 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.sign-in__form__label-inline input[type=checkbox] {
  width: 20px;
  height: 20px;
  border: 1px solid #495057;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 0;
  background: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sign-in__form__label-inline input[type=checkbox]:hover {
  border-color: #D4A373;
}
.sign-in__form__label-inline input[type=checkbox]:checked {
  background-color: #D4A373;
}/*# sourceMappingURL=index.css.map */