.articles {
    display: flex;
    flex-direction: column;
    gap: 62px;
    justify-content: center;
    align-items: center;
    color: $black;
    padding: $side-gutter;

    header {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }
}

.articles__title {
    font-family: $font-montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34.13px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.articles__subtitle {
    font-family: $font-open-sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.articles__nav {
    display: flex;
    gap: 21px;
    font-family: $font-open-sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 24px;

    li.active {
        color: $primary;
    }

    li {
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: $primary;
        }
    }
}

.articles__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.articles__card {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    img {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
}

.articles__card__content {
    padding: 20px;
    color: $black;
    background-color: $gray;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: $font-open-sans;
}

.articles__card__content__date {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.articles__card__content__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.articles__card__content__body {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}