* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}