* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}