// colors
$primary: #D4A373;
$black: #111111;
$gray: #EFEFEF;
$light-gray: #495057;

// screen sizes
$tablet: 1024px;
$mobile: 768px;
$mobileSmall: 440px;

// fonts
$font-open-sans: 'Open Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-lora: 'Lora', serif;

// padding
$side-gutter: 70px;